
ody{
    background-color: rgba(238, 234, 234, 0.998);
    margin-right: 0px;
    padding: 0px;
}

ul{
    list-style: none;
}

a{ 
   text-decoration: none;    
}

section{
    width: 100%;
    height: 95vh;
    background-image: url(../img/fundo01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Parte do estilo do navegador */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: white;
    box-shadow: 2px 2px 12px rgba(195, 41, 203, 0.346);
    padding: 0px 5%;    
}

nav ul{
    display: flex; 
}

nav ul li a {
    margin: 20px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 15px;
    font-weight: 700;
}

.logo{

    color:black;
    font-size: 25px;
}

.home{
    font-weight: bold;
    color:rgb(21, 115, 197);
}

/*Estilizando os textos */
.texto p:nth-child(1){

    font-weight: bold;
    color: rgba(0, 0, 0, 0.733);
    font-size: 30px;
}

.texto p:nth-child(2){
    font-weight: bold;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.733);
    font-size: 25px;
}

.texto p:nth-child(3){
    font-weight: bold;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.733);
    font-size: 20px;
    line-height: 30px;
}

.texto{
    line-height: 0px;
    margin: 45px 0px 25px;
}

.texto{
    position: absolute;
    left: 13%;
    top: 42%;
}

.texto button{
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 12px;
    outline: none;
    margin: 0px 10px;
}

.btn1{
    border: 2px solid rgba(249, 223, 227, 0.986);
    color: black;
    
}

button:active{
    transform: scale(1.1);
}


/* Imagem de fundo banner*/

.foto{
    height: 470px;
    position: absolute;
    bottom: 40px;
    left: 67%;
    
    }

.conteudo{
    width: 80%;
    height: 330px;
    background-color: darkgrey;
    border-radius: 20px;
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center ;
}

.txt{
    width: 550px;
}

.gato{
    height: 250px;
    

}

.conteudo p:nth-child(1){
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 0px;
}

.txt button{
    width: 120px;
    height: 40px;
    color: black;
    outline: none;
    border: none;
    background-color: rgba(249, 223, 227, 0.986);   
}

/*Estilizando a parte dos hobbies*/

.hobbies{
    height: 600px;
    color: black;
    }

    .hobbies-txt{
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        color:black;
        font-size: 25px;
        line-height: 0px;
        width: 500px;
        margin: 50px 0px 0px 50px;
    }    

    .box1 , .box2, .box3 , .box4{
        width: 220px;
        height: 240px;        
        background-size: cover;
        box-shadow: 2px 2px 12px rgba(195, 41, 203, 0.346);
        display: flex;
        justify-content: center;
        align-items:  center;
        flex-direction: column;
    
    }
    
    .conteudo-box 
    {
        display: flex;
        justify-content: space-between;
        margin-left: 50px;
        margin-right: 50px;  
        
    }

    .box1{  

        text-align: center;
        width: 250px;
        color: black;
        margin: 0px, 0px, 20px 0px;
    }

    .box2{  

        text-align: center;
        width: 250px;
        color: black;
        margin: 0px, 0px, 20px 0px;
    }

    .box3{  

        text-align: center;
        width: 250px;
        color: black;
        margin: 0px, 0px, 20px 0px;
    }

    .box4{  

        text-align: center;
        width: 250px;
        color: black;
        margin: 0px, 0px, 20px 0px;
    }


    /*Estilizando área contatos*/

    .contato{
        width: 100%;
        height: 280px;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
    }

    .contato p {
        color: black;
        font-size: 32px;
        font-family: 'Open Sans', sans-serif; 
        font-weight: bold;
        border-bottom: 3px solid pink;
    }

    .email{
        
        width: 130px;
        height: 42px;
        border-radius: 10px;
        font-weight: bold;
        font-size: 12px;
        outline: none;
        margin: 0px 10px;
        color: rgba(194, 47, 202, 0.804);
        background-color: rgba(145, 145, 145, 0.986);  
    }

    .github{

        width: 130px;
        height: 42px;
        border-radius: 10px;
        font-weight: bold;
        font-size: 12px;
        outline: none;
        margin: 0px 10px;
        color: rgba(194, 47, 202, 0.804);
         background-color: rgba(145, 145, 145, 0.986);  
    }

    .linkedin{

        width: 130px;
        height: 42px;
        border-radius: 10px;
        font-weight: bold;
        font-size: 12px;
        outline: none;
        margin: 0px 10px;
        color: rgba(194, 47, 202, 0.804);
        background-color: rgba(145, 145, 145, 0.986);   
    }



  /*Estilizando área do rodapé */

    footer{

        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

    }

    footer p{

        font-family: 'Open Sans', sans-serif; 
        font-weight: bold;
        color: black;
        line-height: 10px;
        font-size: 10px;    
        align-items: center;  
        
    }